
body{
    font-family: arial;
    background-color: rgba(128, 128, 128, 0.692);
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
    margin-bottom: 0;
}

.f-developer{
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.my-name{
    color: rgb(217, 215, 223);
    font-size: 40px;
}

.world{
    font-size: 50px;
    margin-left: 15px;
}

section{
    display: flex;
    margin-bottom: 50px;
}

.half-width{
    width: 50%;
    padding: 2%;
}

.half-width img{
    width: 80%;
    border-radius: 40%;
    margin-top: 10%;
}

.half-width p{
    line-height: 25px;
    font-size: 20px;
    text-align: justify;
}

.cv-btn{
    background-color: orange;
    padding: 10px;
    width: 110px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 7px;
    box-shadow: 4px 4px blue;
}

.banner-bg{
    background-image: url("./images/Download.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
}

.dream-big{
    background-color: rgba(88, 40, 40, 0.445);
}


.dream-header{
    margin-bottom: 15px;
}

.resume-btn{
    background-color: orange;
    padding: 10px;
    width: 220px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 7px;
    box-shadow: 4px 4px blue;
}

.dream-box{
    background-color: rgb(59, 206, 206);
    padding-left: 50px;
}

.dream-pic{
    background-color: aliceblue;
}
